@font-face {
    font-family: 'Lato-Italic';
    src: local('Lato-Italic'), url('./Lato/Lato-Italic.ttf') format('truetype');
}
body {
    font-family: 'Lato-Italic';
    font-weight: 400;
    line-height: 1;
  }