*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }

@font-face {
  font-family: 'Lato-Italic';
  src: local("Lato-Italic"), url("./Lato/Lato-Italic.ttf") format("truetype"); }

body {
  font-family: 'Lato-Italic';
  font-weight: 400;
  line-height: 1; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top {
  margin-top: 2rem !important; }

.u-margin-top-small {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.login {
  height: 93vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("./assets/images/LoginRestaurant.jpg");
  position: relative;
  background-size: cover;
  background-position: top;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 20%, 100% 89%, 0% 100%);
  clip-path: polygon(0 0, 100% 20%, 100% 89%, 0% 100%);
  -webkit-filter: hue-rotate(299deg);
  filter: hue-rotate(299deg); }

.culina__spinner {
  position: relative;
  height: 90vh; }

.culina__image {
  width: 10vw; }

.culina__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.culina__login--card {
  height: 70%;
  width: 45rem;
  background-color: rgba(226, 226, 226, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
