*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #cccccc; }

@font-face {
  font-family: 'Lato-Italic';
  src: local("Lato-Italic"), url("./Lato/Lato-Italic.ttf") format("truetype"); }

body {
  font-family: 'Lato-Italic';
  font-weight: 400;
  line-height: 1; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top {
  margin-top: 2rem !important; }

.u-margin-top-small {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.login {
  height: 93vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("./assets/images/LoginRestaurant.jpg");
  position: relative;
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 20%, 100% 89%, 0% 100%);
  clip-path: polygon(0 0, 100% 20%, 100% 89%, 0% 100%); }

.culina__spinner {
  position: relative;
  height: 90vh; }

.culina__image {
  width: 10vw; }

.culina__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.culina__content {
  background-color: white;
  max-width: 110rem;
  margin: 0 auto;
  display: flex; }

.culina__auth--card {
  height: 70%;
  width: 45rem;
  background-color: rgba(226, 226, 226, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Lato-Italic";
  box-shadow: 7px 6px 35px 6px rgba(78, 78, 78, 0.877);
  border-radius: 1rem; }

.culina__auth--header-div {
  margin-top: 4rem;
  text-align: center; }

.culina__auth--header {
  font-size: 4rem; }

.culina__auth--form button {
  display: block !important;
  width: 50%;
  margin: 0 auto; }

.culina__auth--form-group {
  margin: 3rem; }

.culina__auth--form-input {
  width: 100%;
  display: block;
  height: 5rem;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  transition: all 0.4s; }
  .culina__auth--form-input:hover {
    transform: scale(1.1); }
  .culina__auth--form-input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 128, 0, 0.1);
    border-bottom: 3px solid green; }
  .culina__auth--form-input:focus:invalid {
    border-bottom: 3px solid green; }
  .culina__auth--form-input::-webkit-input-placeholder {
    color: #b3b3b3; }

.culina__auth--form-label {
  font-size: 1.3rem; }

.button__main {
  display: flex; }

.alerts {
  text-align: center !important;
  font-size: 1.3rem; }

.navbarCulina {
  font-size: 1.8rem;
  padding: 1.5rem; }

.sidenav {
  position: -webkit-sticky;
  position: static;
  z-index: 1000;
  height: calc(100vh - 4rem);
  border-right: 1px solid #ececec;
  display: flex !important;
  flex-direction: column;
  max-width: 20%;
  flex: 0 0 18%; }

.main {
  flex: 1; }
