.culina__auth {
    
    &--card {
        height: 70%;
        width: 45rem;
        background-color: rgba($color-light-grey, .8);
        @include absCenter;
        text-align: center;
        box-shadow: 7px 6px 35px 6px rgba(78, 78, 78, 0.877);


    }
    &--header {
        margin-top: 3rem;
        font-size: 4rem;
    }
}