.edit {
    &--form--section {
        display: flex;
        flex-flow: column;
        text-align: center;
    }
  &__input--field {
    border: none;
    border-bottom: 1px solid greenyellow;
    padding: 1.5rem 2rem;
    transition: all .3s;
    font-size: 1.5rem;
    font-family: inherit;
    &:hover {
        font-size: 1.7rem;
    }
    &:focus {
        outline: none;
        border-color: green;
    }
  } 
}