.edit {
    &--form--section {
        display:flex;
        flex-flow: column;
        text-align: center;
        opacity: 0;
        transition: display .5s;
    }
  &__input--field {
    border: none;
    border-bottom: 1px solid greenyellow;
    padding: .5rem 1rem;
    transition: all .3s;
   
    font-family: inherit;
    &:hover {
        transform: scale(1.05);
        background-color: rgba(241, 241, 241, 0.596);
    }
    &:focus {
        outline: none;
        border-color: green;
    }
    &:focus:invalid {
        border-bottom: 3px solid #ff4f30;
    }
  }

}
.display_form {
    -webkit-animation: fadeIn .5s ease-in; 
    animation: fadeIn .5s ease-in;
    opacity: 1;
}