.sidenav {
    position: -webkit-sticky;
    position: static;
    z-index: 1000;
    height: calc(100vh - 4rem);
    border-right: 1px solid #ececec;
    display: flex !important;
    flex-direction: column;
    max-width: 20%;
    flex: 0 0 18%;
}
.main {
    flex: 1;
}