.slider {
   
    
    &--box {
        width: 100%;
    display: inline-block;
       
     
        
    }
    &--text {
    
        background: #5f9ea0;
        color: #fff;
        font-size: 36px;
        line-height: 100px;
        margin: 10px;
        padding: 2%;
        position: relative;
        text-align: center;
    }

}
.user-slider {
width: 100%;
      
}
.slick {
    &-next:before,
    &-prev:before {
      color: #000;
      font-size: 2.3rem;
    }

  }
 .slick-slider {
     width: 38.5vw;
 } 